/* 
This is the Cascading Style Sheet file! This contains all the information needed to _style_ your page! 

You can style pages by selectin them by html element, such as p, h1, ul....

OR, as better practice, you can style elements by utilising classes and id's, which allow you to customise what exactly you target.

Anything goes here, for now, adding some basic colour and 

For more information on CSS selectors, check this page out:   https://www.w3schools.com/CSS/css_selectors.asp

*/

p {
  /* font-size: 30px; */
}


/* What happens if you uncomment out this chunk of code here, and include the h2 and h3 tags in the styling? Can you use this for anything else?*/
/*h1 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

h1 {
  font-size: 40px;
}



/*
But what if you only want to change the styling of some *specific* paragraph elements, and not EVERY paragraph element on a site?

In this React project, it'll look a bit different to a 'raw' html + css + JavaScript site, but still builds upon the basics!
*/


p {
  font-size: larger;
  /* color: yellow; */
}

#header-3 {
  
}

#intro-section{
  background-color: aliceblue;
  
}