/* 
This is the Cascading Style Sheet file! This contains all the information needed to _style_ your page! 

You can style pages by selectin them by html element, such as p, h1, ul....

OR, as better practice, you can style elements by utilising classes and id's...

For more information on CSS selectors, check this page out:   https://www.w3schools.com/CSS/css_selectors.asp

*/


/* If you want to change the styling for *everything* contained within body, then add some styling here! */
/* body {
} */

/*
In here, you can change the css properties for all elements on a site! This is where I'll be asking you to add styling on a 'global' level

To add a css property for a named html element, you merely need to add the name of the element, so paragraph tags <p></p> can be added with::after
*/

p {
  font-size: 30px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* What happens if you uncomment out this chunk of code here, and include the h2 and h3 tags in the styling? Can you use this for anything else?*/
h1 /*h2, h3*/ {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-size: 40px;
}



/*
But what if you only want to change the styling of some *specific* paragraph elements, and not EVERY paragraph element on a site?

In this React project, it'll look a bit different to a 'raw' html + css + JavaScript site, but still builds upon the basics!
*/


p {
  font-size: larger;
  /* color: yellow; */
}

#header-3 {
  
}

#intro-section{
  background-color: aliceblue;
  
}